./vagrant/.vagrant
./vagrant/**
./vagrant
vagrant/**
.gitignore
/terraform/**
/terraform/
./terraform/**
./terraform/
**/.idea/**
.idea/**
**/.idea
05_02/**
06_db_04_postgresql/backup/**
06_db_04_postgresql/volume/**
